.showCounter {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 50%;
  margin: auto;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 25%, white);
  box-shadow: 5px 6px 15px rgb(4 0 0 / 30%), inset 2px 2px 8px rgb(4 0 0 / 30%);
  margin-top: 15%;
  border-radius: 100px;
}

.dot {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.055);}
