.Modal {
  width: 80%;
  height: 80%;
  margin: auto;
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;
  background-color: black;
  border: 2px solid violet;
  border-radius: 5%;
  z-index: 10;
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  box-shadow: 0px 0px 50px violet;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
