@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

button {
  background-color: #000;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a {
  position: relative;
  margin: 0 15px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.5s;
  font-family: "Orbitron", "Sawarabi Mincho";
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(0, 0, 0, 0.144));
}
.btn.blue a {
  color: #5ce1e6;
}
.btn.blue a:hover {
  color: white;
  background: #5ce1e6;
  box-shadow: 0 0 50px #5ce1e6;
}
.btn.blue a::before {
  border-top: 2px solid #5ce1e6;
  border-left: 2px solid #5ce1e6;
}
.btn.blue a::after {
  border-right: 2px solid #5ce1e6;
  border-bottom: 2px solid #02c4ff;
}

.btn p {
  position: relative;
  margin: 0 15px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.5s;
  font-family: "Orbitron", "Sawarabi Mincho";
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(0, 0, 0, 0.144));
}
.btn.blue p {
  color: #5ce1e6;
}
.btn.blue p:hover {
  color: white;
  background: #5ce1e6;
  box-shadow: 0 0 50px #5ce1e6;
}
.btn.blue p::before {
  border-top: 2px solid #5ce1e6;
  border-left: 2px solid #5ce1e6;
}
.btn.blue p::after {
  border-right: 2px solid #5ce1e6;
  border-bottom: 2px solid #5ce1e6;
}

circle {
  fill: none;
}

.gas {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;
  align-items: center;
  /* border-radius: 12px; */
  border: 4px solid currentColor;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.15),
    inset 0 0 var(--box-blur) var(--glow), 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
  display: inline-flex;
  flex-direction: column;
  font-family: system-ui, "Sawarabi Mincho";
  height: var(--size);
  justify-content: space-around;
  padding: 1rem;
  width: var(--size);
}
.gas > * {
  margin: 0;
  padding: 0;
}
.gas .number {
  font-weight: 700;
}
.gas .symbol {
  font-size: 4rem;
  font-family: "Orbitron", "Sawarabi Mincho";
  text-shadow: 0 0 var(--blur) var(--glow);
}
.name {
  font-family: "Orbitron", "Sawarabi Mincho";
}
.gas.he {
  --color: #fceaac;
  filter: saturate(175%);
}
.gas.ne {
  --color: #fda802;
  filter: brightness(110%);
}
.gas.ar {
  --color: #e555c7;
  filter: brightness(125%);
}
.gas.kr {
  --color: #b7e7f7;
  filter: saturate(200%);
}
.gas.xe {
  --color: #c4c4c6;
  filter: brightness(105%);
}

.btn a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  transition: 0.5s;
}

/* ボタン右下のカッコ */
.btn a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  content: "";
  transition: 0.5s;
}

/* ボタン左上のカッコがホバーで伸びる */
.btn a:hover::before {
  width: 100%;
  height: 100%;
}

/* ボタン右下のカッコがホバーで伸びる */
.btn a:hover::after {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Orbitron", "Sawarabi Mincho";
  color: #5ce1e6;
  text-shadow: 0 0 15px #5ce1e6;
}

p {
  font-family: "Orbitron", "Sawarabi Mincho";
  color: #5ce1e6;
  text-shadow: 0 0 5px #5ce1e6;
}

input {
  background-color: black;
  border: 2px solid #5ce1e6;
  color: #5ce1e6;
  outline: none;
  display: block;
  font-family: "Orbitron", "Sawarabi Mincho";
}

label {
  font-family: "Orbitron", "Sawarabi Mincho";
  color: #5ce1e6;
  text-shadow: 0 0 5px #5ce1e6;
}
.theme_explain {
  width: 60%;
  margin-left: 15%;
}

.coming_soon {
  color: black !important;
  opacity: 0.5;
}

.comingSoon_text {
  position: relative;
  font-size: 1.5rem;
  top: -80px;
  text-align: center;
  opacity: 0;
  margin-bottom: -50px;
  transition: 1s;
}

.function_box:hover .comingSoon_text {
  color: white;
  opacity: 1;
}

.function_box {
  border: 2px solid #e555c7;
  width: 15%;
  min-width: 200px;
  box-shadow: 0px 0px 50px #e555c7;
  border-radius: 5%;
  transition: 0.5s;
  margin-bottom: 20px;
}
.function_box:hover {
  background-color: #e555c7;
  transform: translateY(-20px);
}

.explain {
  border: 1px solid #5ce1e660;
  width: 80%;
  margin: auto;
  position: relative;
  padding: 25px 30px;
  color: #03e9f4;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
}

.explain_container {
  align-items: center;
  display: flex;
  margin-left: 25%;
}

.function_container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.explain_title {
  margin-left: 5%;
}

.line_title {
  color: #55e56d;
  text-shadow: 0px 0px 15px #55e56d;
  margin-left: 5%;
}

.function_title {
  color: #e555c7;
  text-shadow: 0px 0px 15px #e555c7;
  margin-left: 5%;
}

.explain_times {
  font-size: 6rem;
  margin-top: 10px;
}

.vote_on_btn {
  width: 15%;
  min-width: 100px;
  box-shadow: 0px 0px 50px #e555c7;
  border-radius: 5%;
  transition: 0.5s;
  margin-bottom: 20px;
  border: 2px solid #e555c7;
}

.vote_off_btn {
  width: 15%;
  min-width: 100px;
  border-radius: 5%;
  box-shadow: 0px 0px 5px gray;
  transition: 0.5s;
  margin-bottom: 20px;
  border: 2px solid gray;
}

.btn_status {
  text-align: center;
}

.vote_on_icon {
  color: #e555c7;
  filter: drop-shadow(0px 0px 10px #e555c7);
}

.btn_status {
  text-align: center;
}
.vote_status {
  margin-top: 25px;
  text-align: center;
  user-select: none;
}

.task_status {
  margin-top: 25px;
  text-align: center;
  user-select: none;
}

.rest_status {
  text-align: center;
  margin-top: 25px;
  user-select: none;
}

.voteBtn_explain {
  user-select: none;
  position: relative;
  color: purple;
  left: 30px;
  bottom: 30px;
  text-shadow: 0 0 10px #673ab7;
}

.restBtn_explain {
  user-select: none;
  position: relative;
  color: purple;
  left: 30px;
  bottom: 30px;
  text-shadow: 0 0 10px #673ab7;
  color: rgb(64, 64, 240);
  text-shadow: 0 0 5px #170fee;
}

.taskBtn_explain {
  user-select: none;
  position: relative;
  color: rgb(116, 173, 31);
  left: 30px;
  bottom: 30px;
  text-shadow: 0 0 10px #7aff92;
}

.on {
  text-shadow: 0px 0px 5px #e555c7;
  position: relative;
  color: white;
}

.off {
  color: white;
  opacity: 0.5;
  text-shadow: none;
  position: relative;
}

.vote_off_icon {
  color: gray;
  filter: drop-shadow(0px 0px 2px gray);
}

.func_study {
  filter: drop-shadow(0px 0px 10px #e555c7);
}

.sync {
  filter: drop-shadow(0px 0px 10px #5ce1e6);
}
.function_explain,.vote_explain {
  font-family: "Orbitron", "Sawarabi Mincho";
  color: #e555c7;
  text-shadow: 0 0 5px #e555c7;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10%;
  transition: 0.5s;
}



.setting {
  animation: rotate 5s infinite;
  filter: drop-shadow(0px 0px 10px #5ce1e6);
}

.mini {
  margin-left: -8px;
  width: 30px;
  animation-delay: 0.5s;
  filter: drop-shadow(0px 0px 10px #5ce1e6);
}
.big {
  margin-left: 10px;
}

@keyframes rotate {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

.function_box:hover .function_explain {
  color: white;
}
.function_box:hover .timer_icon {
  color: white;
}

.hostInput_area {
  margin-top: -50px;
  display: flex;
  justify-content: center;
}



.timer_icon {
  transition: 0.5s;
  color: #e555c7;
  filter: drop-shadow(0px 5px 5px #e686d1);
  margin-left: 22%;
  margin-top: 20%;
}

.timeInput_explain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeInput_icon {
  position: relative;
  top: 5px;
}

.rightArrow,
.leftArrow {
  transition: 0.5s;
  filter: drop-shadow(0px 5px 15px #5ce1e6);
}

.rightArrow:hover,
.leftArrow:hover {
  color: #e555c7;
  transform: scale(1.2);
  filter: drop-shadow(0px 5px 15px #5ce1e6);
}

.timeInput {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.timeInput_hidden {
  background-color: transparent;
  border: none;
  width: 100px;
  font-size: 3rem;
  text-align: center;
}


.sync_explain {
  font-family: "Orbitron", "Sawarabi Mincho";
  color: #5ce1e6;
  text-shadow: 0 0 5px #5ce1e6;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -10px;
}

.motivation {
  filter: drop-shadow(10px 10px 10px #5ce1e6);
}
.motivation_explain {
  font-family: "Orbitron", "Sawarabi Mincho";
  color: #5ce1e6;
  text-shadow: 0 0 5px #5ce1e6;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -5px;
}

.header_link a {
  color: #e555c7;
  text-decoration: none;
}

.taskAddIcon {
  background-color: transparent;
  border: none;
}
.taskAdd_icon {
  margin-top: 25px;
  color: rgb(0, 254, 0);
}

.task_input {
  justify-content: center;
  display: flex;
  align-items: center;
  transform: translateX(25px);
}

.task_input input {
  border: 2px solid lightgreen;
  color: lightgreen;
}

.task_label {
  color: lightgreen;
}

.header_links {
  display: flex;
  align-items: center;
  list-style: none;
}

.Modal {
  margin-top: 10% !important;
  width: 40%;
  height: auto;
  margin: auto;
  min-width: 400px;
  border: 2px solid #5ce1e6;
}

.container {
  position: absolute;
  height: 100vh;
  margin: 0;
  padding: 0;
  left: 500px;
  background: #000;
  top: 100px;
}

.ripples div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  border: solid 10px #5ce1e6;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: ripples_anim 1.2s linear infinite;
  animation: ripples_anim 1.2s linear infinite;
}

@keyframes ripples_anim {
  0% {
    opacity: 1;
  }

  50% {
    transform: translate(-300px, -400px);
    width: 700px;
    height: 100%;
    opacity: 0;
  }
}

.createRoom_form {
  margin-top: -5%;
}

.createRoom_title {
  user-select: none;
  background: black;
  position: relative;
  left: 8%;
  top: -50px;
  font-size: 2.5rem;
  width: 480px;
  display: flex;
  align-items: center;
}

.submit {
  margin-bottom: 5%;
  margin-top: 5%;
}

.explain span {
  position: absolute;
  display: block;
}
.explain span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 3s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.voteTimeBtn {
  margin-top: 5%;
  width: 200px;
  color: white;
  background-color: #e555c7;
  box-shadow: 0px 0px 50px #e555c7;
  margin-left: 40%;
  font-size: 1.5rem;
  font-family: "Orbitron", "Sawarabi Mincho";
  display: flex;
  align-items: center;
  transition: 0.5s;
  border: 2px solid #e555c7;
  animation: bound-anim 2.5s infinite;
}

.voteTimeBtn  > h1 {
  color: white;
  text-shadow: 0px 0px 5px #e555c7;
  margin-right: 20px;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}

@keyframes bound-anim {
	0%,100% {top: 0;transform: scale(1);}
	30% {top: -25%;}
	50% {transform: scale(1);}
	90% {top: 0;transform: scale(1.1,0.8);}
}


.explain span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 3s linear infinite;
  animation-delay: 0.8s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.explain span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 3s linear infinite;
  animation-delay: 1.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.explain span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 3s linear infinite;
  animation-delay: 2.2s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.setting_btns {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.setting_btns li {
  position: relative;
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
}

.setting_btns li::before,
.setting_btns li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

.setting_btns li::after {
  filter: blur(40px);
}

.setting_btns li:hover:after,
.setting_btns li:hover::before {
  opacity: 1;
}

.setting_btns li a {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  background: #000;
  font-size: 36px;
  border-radius: 50%;
}

.vote.voteIcon_on {
  transform: scale(1.2) !important;
}

.task.taskIcon_on {
  transform: scale(1.2) !important;
}

.rest.restIcon_on {
  transform: scale(1.2) !important;
  user-select: none;
}

.setting_btns li a .vote {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: rotateY(0deg) scale(0.8);
  opacity: 0.2;
}

.setting_btns li a:hover .vote {
  opacity: 1;
  transform: scale(1.2);
}

.setting_btns li a .vote.voteIcon_on {
  opacity: 1;
}

.setting_btns li a .task {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: rotateY(0deg) scale(0.8);
  opacity: 0.2;
}

.setting_btns li a:hover .task {
  opacity: 1;
  transform: scale(1.2);
}

.setting_btns li a .task.taskIcon_on {
  opacity: 1;
}

.setting_btns li a .rest.restIcon_on {
  opacity: 1;
}

.setting_btns li a .rest {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: rotateY(0deg) scale(0.8);
  opacity: 0.2;
}

.setting_btns li a:hover .rest {
  opacity: 1;
  transform: scale(1.2);
}

.setting_btns li a .vote.voteIcon_on {
  opacity: 1;
}

.rest {
  width: 65px;
}

.vote_off {
  opacity: 0.5;
}

.setting_btns li:nth-child(1) a,
.setting_btns li:nth-child(1) ::before,
.setting_btns li:nth-child(1)::after {
  background: linear-gradient(45deg, #e91e63, #5d02ff);
}
.setting_btns li:nth-child(2) a,
.setting_btns li:nth-child(2)::before,
.setting_btns li:nth-child(2)::after {
  background: linear-gradient(45deg, blue, rgb(64, 186, 247));
}
.setting_btns li:nth-child(3) a,
.setting_btns li:nth-child(3)::before,
.setting_btns li:nth-child(3)::after {
  background: linear-gradient(45deg, green, rgb(64, 186, 247));
}


.rest_choice {
  display: flex;
  justify-content:space-evenly;
}

.voteTitle {
  color: #e555c7;
  text-align: center;
  text-shadow: 0px 0px 5px #e555c7;
}

.rest_yes {
  color: white;
  text-align: center;
  margin-top: -10%;
}

.rest_no {
  color: white;
  text-align: center;
  margin-top: -10%;
}

.voteModal {
  width: 80%;
  height: 80%;
  margin: auto;
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;
  background-color: black;
  border: 2px solid violet;
  border-radius: 5%;
  z-index: 10;
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.restIcon_time {
  position: relative;
  top: 20px;
  filter: drop-shadow(0px 5px 50px blue)
}
.restInput_label {
  margin-top: 0%;
  color: white;
  text-shadow: 0px 0px 20px #170fee;
}

.restInput > p {
  color: white;
  text-shadow: 0px 0px 10px #170fee;
}

.restInput input {
  color: white;
  text-shadow: 0px 0px 10px #170fee;
}


.vote_box {
  border: 2px solid #e555c7;
  width: 15%;
  min-width: 200px;
  box-shadow: 0px 0px 50px #e555c7;
  border-radius: 5%;
  transition: 0.5s;
  margin-bottom: 20px;
}
.vote_box:hover {
  background-color: #e555c7;
  transform: translateY(-20px);
}

.vote_on {
  background-color: #e555c7 !important;
  transform: translateY(-20px) !important;
}

.vote_box:hover .vote_explain {
  color: white;
}

.vote_explain_on {
  color: white;
}

.needRest {
  transition: 0.5s;
  filter:  drop-shadow(5px 5px 20px #e555c7 );
}

.needRest_off {
  opacity: 0.3;
  filter:  drop-shadow(5px 5px 20px gray );
}

.function_container_off {
  user-select: none;
  opacity: 0.2;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.resultMin_title {
  color: deeppink;
  text-shadow: 0px 0px 20px deeppink;
  font-size: 1.5rem;
  text-align: center;
}

.card {
  border: 2px solid #e555c7;
  min-width: 100px;
  background-color: #e555c7;
  box-shadow: 0px 0px 5px #e555c7;
  user-select: none;
  border-radius: 5%;
  margin-bottom: 20px;
  margin: 10px 10px;
  height: 20px;
  padding:50px;
  opacity: 0;
  animation: slideIn 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.card > p {
  color: white;
  text-shadow: none;
  font-size: 2rem;
  text-align: center;
  margin-top: -15px;
  animation: cards 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.joinRoom_title {
 text-align: center;
 position: absolute;
 top: 90px;
 left: 40%;
 background-color: black;
}

.demo {
  font-family:"Monotype Corsiva";
  margin: 0;
  padding:0;
  color:#111;
  font-size:5rem;
  align-items: center;
}

.right {
  position: absolute;
  top: 100px;
  right: 150px;
}
.left {
  position: absolute;
  top: 100px;
  left: 150px;
}

.light_off span {
  text-shadow: none!important;
  animation: none !important;
}

.demo span {
  display: table-cell ;
  margin: 0;
  padding:0;
  animation: animate 3s cubic-bezier(0.72, 1.3, 0.54, -0.57) infinite;
}


@keyframes animate {

  0%,100% {
    color:#fff;
    filter: blur(2px);
    text-shadow:  0 0 10px #02c4ff,
                 0 0 20px #02c4ff,
                 0 0 40px #02c4ff,
                 0 0 80px #02c4ff,
                 0 0 120px #02c4ff,
                 0 0 200px #02c4ff,
                 0 0 300px #02c4ff,
                 0 0 400px #02c4ff;
  }
  5%,95% {
    color:#111;
    filter: blur(0px);
    text-shadow:none;
  }
  
}

 
@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}

@keyframes cards {
  0%,99% {
    color: white;
  }
  100% {
    color: #e555c7;
  }
}

@keyframes cardShow {
  0% {
    transform: translateY(30px);
  }
  100% {
    opacity: 1!important;
  }
}


.timerBtn {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.loginBtn{
  margin: 20px;
}

.taskBtn {
border:2px solid lightgreen;
box-shadow: 0px 0px 20px lightgreen;
border-radius: 100px;
padding: 10px;
width: 60px;
transition: 0.5s;
}

.chatBtn {
border:2px solid deeppink;
box-shadow: 0px 0px 20px deeppink;
border-radius: 100px;
padding: 10px;
width: 60px;
transition: 0.5s;
}

.chatBtn:hover {
  background-color: deeppink;
}

.taskBtn:hover {
  background-color: lightgreen;
}

.taskBtn > svg {
  color: lightgreen;
  margin-left: 3px;
  transition: 0.5s;
}

.taskBtn:hover.taskBtn > svg {
  color: white;
} 



.chatBtn_container > p {
  font-size: 1.2rem;
  color: deeppink;
  text-shadow:none;
  margin-left: 15px;
}

.chatBtn > svg {
  color: deeppink;
  margin-left: 3px;
  transition: 0.5s;
}

.chatBtn:hover.chatBtn > svg {
  color: white !important;
}