.taskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskTitle {
  font-size: 1.3rem;
  color: aquamarine;
}

.taskTitleDone {
  text-decoration: line-through;
  font-size: 1.3rem;
  color: aquamarine;
}

.checkBox {
  
}